/*Portfolio
 ========================================================================== */

main{
  background: $color-main-port;
  padding-top: 4em;
    
}  

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0 .5em 4em .5em;
    margin-top: 4em;
        
  }

.siteSample,
li img{
  max-width: 95%;
  
}


