/*============================================================================= 
  Base Layout Styles
   ========================================================================== */

*{
  box-sizing: border-box;
  
}


body{
  @extend %AutoMargin;
  background-color: $color-body-back;
  max-width: 1300px;
  
}

h2,li, h1, h4{
  text-align: center;
  font-family: $stack-Roboto;
  
}

li{
  margin-bottom: .5em;
}




  
