
/****************
    Profile Section
  ****************/
.aboutMe{
  padding-right: .1em;
  padding-left: .1em;  
  
}

.overview{
  text-align: center;
  color: $color-sec;
  font-size: 1.2em;
}

.overview img{
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
      
}